img  {
  max-height: 250px;
  max-width: 250px;
  text-align: center;
  }
  
.nav-bar {
  background-color: #b3b3b37a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  position: relative;
  margin: 10px;
}



.header {
  
  height: 300px;
  background-color: black;
  background-image:url(/site_images/jw-photo.jpg);
  background-position: center;
  border-radius: 10px;
  background-size: cover;
  display: flex;
  justify-content: space-between;  
  position: relative;
  padding: 70px;
  margin: 10px;
  
}

.jw-head {
  margin-bottom:160px;
  position: relative;
  z-index: 100;
}

body > div.header > div.free-music > a > img ,body > div.header > div.dj-lessons > a > img {
  width: 140px;
  padding-top: 15px;
}



body {
  background-color:rgb(58, 58, 58) !important;
  max-width: 800px;
  justify-content: center;
  margin: 0 auto !important;
  padding: 10px;
  border: 10px;

}

.tracks {
  margin:10px;
  padding: 10px;
  background-color: #b3b3b357;
  border-radius: 10px;  
}


.all-track-background, #track-downloads {
margin: 10px;
padding: 10px;
background-color: #b3b3b357;
border-radius: 10px;  
display: flex;
justify-content: space-around;


}

.track-background {
background-color: #ffffff75;
padding: 10px;
margin-bottom: 10px;
border-radius: 10px;
color: whitesmoke;

}

.under-track {
background-color: #ffffff75;
padding: 10px;
margin-bottom: 10px;
border-radius: 10px;


}

.p-track-1, .p-track-2 {

  height: 100%auto;
  width: auto;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffff75;
  border-radius: 10px;  
}

a {
  color:inherit !important;
  }

  #mail-button  {
  margin: 10px !important;
  background-color: #b3b3b357 !important;
  border-radius: 10px !important; 
  border: 10px black !important;
  text-decoration: underline !important;
  color:whitesmoke !important;
 
  

}

.modal-header.primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}

.modal-title, #mail-button, .btn, ::-webkit-input-placeholder, .track-background {
  font-family: 'Hubballi', cursive !important;
  font-size: 20px;
  margin: 10px !important;
  
}



.modal-dialog {
        width: 360px;
      }
.modal-header {
  background-color: #b3b3b357;
  padding:5px 5px;
  color:#FFF;
  border-bottom:1px dashed whitesmoke;
}


.modal-footer {
background-color:#b3b3b357;
padding: 1rem;
border-top: 1px solid #e9ecef;
}


.inputgroup {
  background-color: #ffffff75;
}




@media screen and (max-width: 414px) {

  img  {
      height: 120px;
      text-align: center;
      }

  

  .header {
  
      height: 250px;
      background-color: black;
      background-image: url("https://johnnywalker-git.github.io/Landing-page/jw-photo.jpg");
      background-position: center;
      border-radius: 10px;
      background-size: cover;

  }
  
  body > div.header > div.free-music > a > img ,body > div.header > div.dj-lessons > a > img {
    width: 70px;
    height: 87.5px;
    padding-top: 15px;
  }

 .jw-head {
   padding-top:120px
 }

}